Options -Indexes
DirectoryIndex frontend/index.html index.html
RewriteEngine On
RewriteRule ^api/?$ api/index.php [L,QSA]
RewriteRule ^api/(.*)$ api/index.php [L,QSA]
RewriteRule ^css/(.*)$ frontend/css/$1 [L]
RewriteRule ^js/(.*)$ frontend/js/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^$ frontend/index.html [L]
